*{
    margin: 0;
    padding: 0;
}

.main-footer p{
    font-size: 17px;
}

#logoFooter {
    height: 40px;
    margin: 0 0 20px 0;
}

.container {
    border: 1px solid red;
    width: 100%;
    
    
}

.policy {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}

.sub-policy-terms {
    display: flex;
    border-top: 1px solid #fff;
    width: 50%;
    justify-content: center;
    padding: 10px  0 10px 0;
    cursor: pointer;
    
    


}



.sub-policy-terms p {
    font-size: 20px;
    margin: 0 15px;
}

.text-reset {
    text-decoration: none;
}


@media (max-width:720px){
    .sub-policy-terms {
       
        width: 60%;
       
    
    
    }
}

@media (max-width:510px){
    .sub-policy-terms {
       
        width: 65%;
       
       
    
    
    }

    
}
